<div class="burger {{#unless devoured}}new{{/unless}}{{#if devoured}}devoured{{/if}}" id="{{id}}">
  <h3>{{id}} {{burger_name}}</h3>
  {{#unless devoured}}<button class="devour" id="btn-{{id}}" value="{{id}}">devour</button>{{/unless}}
</div>